$padding-left: 10vw;
$padding-right: 10vw;
$averageFont: 'Open Sans';
$fontCormorant: 'Cormorant', serif;
$fullWidth: 100%;
$fullHeight: 100%;
$lineHeight: 1.5rem;
$fontSize: 1rem;
$fontWeight: 400;
$mainColor: #1D2F30;
$secondaryColor: #0B1919;
$accentColor: #BAE249;
$textColor: #FFFFFF;
$mutedTextColor: #899D9D;
$averageGap: 4rem;
