
$padding-left: 10vw;
$padding-right: 10vw;
$averageFont: Open Sans;
$fullWidth: 100%;
$fullHeight: 100%;
$lineHeight: 1.5rem;
$fontSize: 1rem;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  body {
	max-width: 1920px;
	font-size: $fontSize;
  }

.header__container {
	padding-left: $padding-left;
	padding-right: $padding-right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $fullWidth;
	height: 60px;
	background-color: #1D2F30;
}


.nav__container {
	height: 100%;
	display: flex; /* Flexbox для контейнера навигации */
	align-items: center; /* Центрирование по вертикали */
}



.nav__list {
	list-style: none;
	display: flex;
	gap: 64px;

	li a {
font-family: Open Sans;
outline: none;
text-decoration: none;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
color: #FFFFFF;
	}
}

.header__icons {
	display: flex;
	gap: 64px;
}

main {
	height: 550px;
	opacity: 100%;
	background-image: url('./assets/icons/backdrop.png');
	background-color: #1D2F30;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.main__information {
	padding-left: 10%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.main__header {
font-family: Cormorant;
font-size: 3rem;
font-weight: 700;
line-height: 60px;
color: #FFFFFF;


}
.main__paragraph {
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
text-align: left;
color:  #FFFFFF;
}

.main__anchor {
font-family: Open Sans;
font-size: 1rem;
font-weight: 700;
line-height: 21.79px;
color: #BAE249;
text-decoration: none;
}

.main__arrow {
	font-size: 2rem;
}

.artefacts {
    background-color: #1D2F30;
    height: 100vh;

}

.artefacts__container {
    position: relative;
    padding-left: $padding-left;
	padding-right: $padding-right;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.artefacts__item {
    border: 1px solid #0B1919;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: start;
    max-width: 300px;
}
.artefacts__image {
  background-color: #0B1919;
  padding: 5vh;

}


.artefacts__title {
   color:  #FFFFFF;
font-family: Cormorant;
font-size: 1.3rem;
font-weight: 700;
line-height: 1rem;
 padding-top: 5vh;
 padding-left: 3vh;
}
.artefacts__description {
font-family: Open Sans;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
padding: 3vh;
color: #899D9D;
flex-grow: 1;

}
.artefacts__button {
    border: 1px solid #BAE249;
    color: #BAE249;
    padding: 1vh;
    background: none;
    margin: 3vh;
}


.artefacts__switcher {
    position: absolute;
    right: 50;
    bottom: 0;
    display: flex;
    color: black;
    justify-content: center;
    span {
       color: #899D9D;
       padding: 1rem;
    }
    p {
font-family: Cormorant;
font-size: 1rem;
font-weight: 700;
line-height: 36px;
color: #FFFFFF;
    }
}

.artefacts__switcher {
}
.artefacts__arrow {
}
.artefacts__arrow--prev {
}
.artefacts__arrow--next {
}

.artefacts__icon {

}
.artefacts__image-wrapper {
    position: relative;
}

.artefacts__numeration {
position: absolute;
top: 16px;
left: 16px;
font-family: Cormorant;
font-size: 0.8rem;
font-weight: 700;
color: #899D9D;
border:  solid #899D9D;
border-radius: 50%;
padding: 5px;
}


.artefact-showcase {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1D2F30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.artefact-showcase__title {
font-family: Cormorant;
font-size: 2rem;
font-style: italic;
font-weight: 700;
color: #FFFFFF;
}

.artefact-showcase__container {
    overflow: hidden;
    background-color: #0B1919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    max-height: 80vh;
    width: 60vw;
    padding: 10px 0px;
    gap: 20px;

}
.artefact-showcase__item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        flex: 1 1;
        max-width: 150px;
    }

}
.artefact-showcase__title {
font-family: Cormorant;
font-size: 2rem;
font-style: italic;
font-weight: 700;
line-height: 2rem;
color: #1D2F30;

}

.prime_title {
    font-family: Cormorant;
    position: absolute;
   top: -10px;
   left: 8%;
   color: #FFFFFF;
}
.artefact-showcase__aside {
    padding: 15px;
    display: flex;
    width: 20vw;
    height: 80vh;
    border: 1px solid black;
    gap: 10px;
    justify-content: start;
    flex-direction: column;
    background-color: #BAE249;
}
.artefact-showcase__description {
font-family: Open Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
flex-grow: 1;
flex-shrink: 1;

}
.artefact-showcase__link {
font-family: Open Sans;
font-size: 1rem;
font-weight: 700;
}


.artefact-showcase__numeration {
font-family: Cormorant;
font-size: 0.8rem;
font-weight: 700;
color: #899D9D;
border:  solid #899D9D;
border-radius: 50%;
padding: 5px;
}

// .cont {
//     display: flex;
//     flex-direction: row;
//     width: 100vw;
//     height: 500px;
//     gap: 20px;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//     border: 10px solid sandybrown;
//     background-color: orange;
// }

// .cont-1 {
//     display: flex;
//     border: 1px solid black;
//     height: 80vh;
//     flex-wrap: wrap;
//     gap: 10px;
//     align-items: center;
//     width: 70vw;


// }

// .cont-2 {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
//     gap: 10px;
//     width: 20vw;
//     height: 80vh;
//   border: 1px solid black;
// }


// .artefact-showcase__description {
//     display: flex;
//     flex: 250px 1 1;
// }
